
    
    p {
      font-size: 5rem;
      color: white;
      text-align: center;
      padding: 0;
      margin: 0;
    }
    .flag>div{
      position: absolute;
      top: 150px;
      left: 0px;
      width: 800px;
      height: 300px;
      background-color: rgb(0, 40, 104);
    }
    .flag{
      background-color: rgb(206, 17, 38);
      width: 800px;
      height: 600px;
      position: relative;
      
    }
    .flag > div > div {
      background-color: white;
      position: absolute;

      height: 200px;
      width: 200px;
      border-radius: 50%;
      top: 50px;
      left: 300px;
    }
    .flag>div div p{
      color: black;
      font-size: 75px;
    }

    
